@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* 눈송이 애니메이션 */
  @keyframes fall {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    100% {
      transform: translateY(1300px);
      opacity: 0;
    }
  }
}

@layer utilities {
  .snowflake {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -10px;
  }
}
