@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* 눈송이 애니메이션 */
  @keyframes fall {
    0% {
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateY(1300px) translateX(-200px);
      opacity: 0;
    }
  }

  @keyframes shake {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

@layer utilities {
  .snowflake {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -10px;
  }
  .shake {
    animation: shake 0.5s ease-in-out;
  }
}
