@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  /* 눈송이 애니메이션 */
  @keyframes fall {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(var(--fall-distance));
    }
  }

  .jua-regular {
    font-family: 'Jua', serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
  }

  .birthstone-regular {
    font-family: 'Birthstone', serif;
    font-weight: 400;
    font-style: normal;
  }

  @keyframes shake {
    0% {
      transform: rotate(0);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    75% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  html,
  body {
    overflow-x: hidden; /* x축 스크롤 비활성화 */
    max-width: 100vw; /* 전체 너비를 100%로 설정 */
    margin: 0; /* 기본 여백 제거 */
  }

  *::-webkit-scrollbar {
    display: none;
  }
  *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

  ::-webkit-scrollbar-track {
    background: #f4f4f4;
    border-radius: 3px;
  }
}

@layer utilities {
  .snowflake {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -10px;
  }
  .shake {
    animation: shake 0.5s ease-in-out;
  }
}

* {
  user-select: none;
}

img {
  user-select: none;
  pointer-events: none;
}
